# Unity 기본 캐시/빌드 폴더
/Castawild/[Ll]ibrary/
/Castawild/[Tt]emp/
/Castawild/[Oo]bj/
/Castawild/[Bb]uild/
/Castawild/[Bb]uilds/
/Castawild/[Ll]ogs/
/Castawild/[Uu]ser[Ss]ettings/
/Castawild/.utmp/
/Castawild/*.log

# Blender 파일
*.blend1
*.blend1.meta

# MemoryCaptures / Recordings
/Castawild/[Mm]emoryCaptures/
/Castawild/[Rr]ecordings/

# Asset Store Tools (선택)
/Castawild/[Aa]ssets/AssetStoreTools*

# Rider
/Castawild/[Aa]ssets/Plugins/Editor/JetBrains*
*.DotSettings.user

# Visual Studio / IDE 관련
.vs/
.gradle/
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity 메타 및 크래시
*.pidb.meta
*.pdb.meta
*.mdb.meta
sysinfo.txt
mono_crash.*

# 빌드 결과물
*.apk
*.aab
*.unitypackage
*.unitypackage.meta
*.app

# Crashlytics
crashlytics-build.properties

# 테스트 자동 생성 씬
/Castawild/[Aa]ssets/[Ii]nit[Tt]est[Ss]cene*.unity*

# Addressables
/Castawild/ServerData/
/Castawild/[Aa]ssets/StreamingAssets/aa*
/Castawild/[Aa]ssets/AddressableAssetsData/link.xml*
/Castawild/[Aa]ssets/Addressables_Temp*
/Castawild/[Aa]ssets/AddressableAssetsData/*/*.bin*

# Visual Scripting
/Castawild/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db
/Castawild/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db.meta
/Castawild/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers
/Castawild/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers.meta

# 개인 환경 관련
.vs/
.idea/
.vscode/
*.suo
*.user
*.userprefs
*.DotSettings.user
*.tmp

# Unity 사용자 설정
/Castawild/UserSettings/

